# port for http server
HTTP_PORT=1234

# postgresql database
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=todolist_dev

PG_URL=postgres://postgres:password@postgres/todolist_dev