# Исключить временные файлы и директории
*.swp
*.swo
*~

# Исключить сгенерированные файлы
*.log
*.out
*.test
bin/
pkg/
*.db

# Исключить файлы конфигурации
.env

# Исключить бинарные файлы и библиотеки
*.exe
*.dll
*.so
*.dylib
*.app
*.out

# Исключить директории с зависимостями
vendor/

# Исключить директории с бинарными файлами
bin/
